@page
@model housing.Pages.IndexModel
@{
}


<div class="">
    <div style="text-align:center">
        <h1>Housing Data</h1>
    </div>
    <table class="table table-bordered" style="width:100%;">
        <thead>
            <tr >
                <th rowspan="2" style="text-align:center">
                    Location
                </th>
                <th rowspan="2" style="width: 100px;text-align: center">
                    Distance from Delhi(km)
                </th>
                <th colspan="5" style="text-align:center">
                    Accomodation
                </th>
                <th colspan="5" style="text-align:center">
                    Places to Visit
                </th>
                <th rowspan="2" style="text-align:center">
                    Trip Budget
                </th>
            </tr>
            <tr >
                <th style="text-align:center">
                    Name
                </th>
                <th colspan="4" style="text-align:center">
                    Type of Preference
                </th>
                <th style="text-align:center">
                    Name
                </th>
                <th colspan="4" style="text-align:center">
                    Type of Preference
                </th>
            </tr>
        </thead>
        <tbody>
            @{ string c = Model.datas[0].Location;}
            @foreach (var item in Model.datas)
            {
                @if (c != item.Location)
                {
                    <tr style="border-collapse: collapse;text-align: center;background-color: #CCCCCC">
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                         </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    c = item.Location;
                }
                <tr style="border-collapse:collapse; text-align:center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dfd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccdTypePreferenceOrder1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccdTypePreferenceOrder2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccdTypePreferenceOrder3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccdTypePreferenceOrder4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PtvName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PtvTypePreferenceOrder1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PtvTypePreferenceOrder2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PtvTypePreferenceOrder3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PtvTypePreferenceOrder4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
